.home-container {
    padding: 40px;    
}

.start-button {
    color: #fff;
    
}
.home-content {
    margin-bottom: 35px;
}

.title1, .title2{
    letter-spacing: 0.02em;
    font-weight: 500;
}

.title2 {
    color: #7E7E7E;
}
